.banner-area {
    background: #ffffff;
}

.banner-area .fullscreen {
    height: 750px;
}

.banner-left h6 {
    font-weight: 400;
    letter-spacing: 2px;
}

.banner-left h1 {
    margin: 20px 0;
    font-size: 60px;
    text-transform: uppercase;
}

.banner-right {
    text-align: center;
}
